<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>EP Skill Development Project</display-name>
	<welcome-file-list>
		<welcome-file>HomePage.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Servlet_1</servlet-name>
		<display-name>Servlet_1</display-name>
		<description></description>
		<servlet-class>Package.Servlet_1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet_2</display-name>
		<servlet-name>Servlet_2</servlet-name>
		<servlet-class>Package.Servlet_2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet_3</display-name>
		<servlet-name>Servlet_3</servlet-name>
		<servlet-class>Package.Servlet_3</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet_4</display-name>
		<servlet-name>Servlet_4</servlet-name>
		<servlet-class>Package.Servlet_4</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet_5</display-name>
		<servlet-name>Servlet_5</servlet-name>
		<servlet-class>Package.Servlet_5</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet_6</display-name>
		<servlet-name>Servlet_6</servlet-name>
		<servlet-class>Package.Servlet_6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet_1</servlet-name>
		<url-pattern>/Servlet_1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_2</servlet-name>
		<url-pattern>/Servlet_2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_3</servlet-name>
		<url-pattern>/Servlet_3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_4</servlet-name>
		<url-pattern>/Servlet_4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_5</servlet-name>
		<url-pattern>/Servlet_5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_6</servlet-name>
		<url-pattern>/Servlet_6</url-pattern>
	</servlet-mapping>
</web-app>
